/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf0; /* Light orange background */
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

